<%- include("partials/header") -%>

<h1>Home</h1>
<p>
  <%= firstPara %>
</p>
<% posts.forEach(function(eachPost){ %>
  <h1><%= eachPost.postTitle %></h1>
    <p>
      <%= eachPost.postBody.substring(0,100)+"..." %>
      <a href="posts/<%= eachPost.postTitle %>">Read more</a>
    </p>
<% }); %>

<%- include("partials/footer") -%>
